* {
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    place-items: center;


}

main {    
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    max-width: 300px;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;

   
}


img {
    border-radius: 1em;
    width: 100%
}

p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin: 1em;
    opacity: 0.55;

}

h1 {
    font-weight: 700;
    text-align: center;
    margin: 0.6em;
    font-size: 18px;
}

footer {
    text-align: center;

}
